<ion-header>
  <ion-toolbar>
    <ion-title>addClient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
<ion-item>
<ion-label>  First Name </ion-label>
<ion-input [(ngModel)]="firstName"> </ion-input>
<ion-label>  Last Name </ion-label>
<ion-input [(ngModel)]="lastName"> </ion-input>
</ion-item>
<ion-item>
<ion-label> Phone Number </ion-label>
<ion-input type="number" [(ngModel)] ="phoneNumber"> </ion-input> 
</ion-item>
<ion-item>
<ion-label>  Age </ion-label>
<!-- <ion-input [(ngModel)]="age"> </ion-input> -->
<ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="dateOfBirth"> </ion-datetime> 
</ion-item>
<ion-item>
<ion-label> Sallary</ion-label>
<ion-input [(ngModel)]="sallary"> </ion-input>

</ion-item>
<ion-item>
<ion-label> Insurance Type </ion-label>
<!-- <ion-searchbar [(ngModel)]="insuranceType"> </ion-searchbar> -->
<ion-select [(ngModel)]="insuranceType" interface="popover">  
      <ion-select-option *ngFor="let type of types" [value]="type.id"> {{type.type}}</ion-select-option>
</ion-select>
</ion-item>
<ion-item>
<ion-label> Date Of Insurance </ion-label>
<ion-label> Insurance  Date </ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="insuranceStartDate"> </ion-datetime> 
</ion-item>
<ion-item>
<ion-label>  Insurance Company</ion-label>
<!-- <ion-searchbar [(ngModel)]="insuranceCompany"> </ion-searchbar> -->
<ion-select [(ngModel)]="insuranceCompany" interface="popover">  
      <ion-select-option *ngFor="let company of companies" [value]="company.id"> {{company.name}}</ion-select-option>
</ion-select>

</ion-item>

 <ion-item> 
 <ion-label>Select  Education </ion-label> 

 <ion-select [(ngModel)]="education" interface="popover">   
       <ion-select-option *ngFor="let education of educations" [value]="education.id">		 {{education.title}}  </ion-select-option> 
 </ion-select> 

 </ion-item> 
<ion-item>
<ion-label> Professional Background</ion-label>
 <ion-input [(ngModel)]="professionalBackground"> </ion-input> 

</ion-item>

<ion-button float-right (click)="addClient()"> Add Client  </ion-button>
</div>
</ion-content>