<ion-header>
  <ion-toolbar>
    <ion-title>
      Search Clients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
<ion-label> Search By Name </ion-label>
<ion-searchbar [(ngModel)]="name"> </ion-searchbar>
</ion-item>
<ion-item>
<ion-label> Select  Age Range Or Search For A Specific One </ion-label>
<ion-searchbar [(ngModel)]="startAge"> </ion-searchbar>
<ion-select [(ngModel)]="ageRange" interface="popover">  
      <ion-select-option *ngFor="let range of ageRanges" [value]="range">  {{range.start}} - {{range.end}}	</ion-select-option>
</ion-select>
</ion-item>
<ion-item>
<ion-label> Select  Sallary Range Or Search For A Specific One </ion-label>
<ion-searchbar [(ngModel)]="startSallary"> </ion-searchbar>
<ion-select [(ngModel)]="sallaryRange" interface="popover">  
      <ion-select-option *ngFor="let sallary of sallaryRanges" [value]="sallary"> {{sallary.start }}- {{sallary.end}} </ion-select-option>
</ion-select>

</ion-item>
<ion-item>
<ion-label> Search By Type Of Insurance </ion-label>
<ion-searchbar [(ngModel)]="insuranceType"> </ion-searchbar>
<ion-select [(ngModel)]="insuranceType" interface="popover">  
      <ion-select-option *ngFor="let type of types" [value]="type"> {{type}}</ion-select-option>
</ion-select>
</ion-item>
<ion-item>
<ion-label> Search By Date Of Insurance </ion-label>
<ion-label> Start Date </ion-label>
          <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="startDate"> </ion-datetime> 
		  <ion-label> End Date </ion-label>
		  <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="startDate"> </ion-datetime> 
</ion-item>
<ion-item>
<ion-label> Search By Insurance Company</ion-label>
<ion-searchbar [(ngModel)]="insuranceCompany"> </ion-searchbar>
</ion-item>

<ion-item>
<ion-label>Select  Education </ion-label>

<ion-select [(ngModel)]="education" interface="popover">  
      <ion-select-option *ngFor="let education of educations" [value]="education.id">		 {{education}}  </ion-select-option>
</ion-select>

</ion-item>
<ion-item>
<ion-label> Search By Professional Background</ion-label>
<ion-searchbar [(ngModel)]="professionalBackground"> </ion-searchbar>

</ion-item>

<ion-button (click)="search()"> Search </ion-button>
</ion-content>
