<ion-tabs>
    <ion-tab-button tab="add-client">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add Client</ion-label>
    </ion-tab-button>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Search Clients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="list-box"></ion-icon>
      <ion-label> client's insurance type</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Client's financial state</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
