<ion-header>
  <ion-toolbar>
    <ion-title>
      Client's insurance type
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-item *ngFor ="let client of clients ">
<h2> First Name: {{client.firstName}} </h2>
<h2> Last Name: {{client.lastName}} </h2>
<h2> Type Of Insurance: {{client.insuranceType}} </h2>
</ion-item>
</ion-list>
</ion-content>
