<ion-header>
  <ion-toolbar>
    <ion-title>
      Client's financial state
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-item *ngFor ="let client of clients">
<h2> First Name: {{ client.firstName}} </h2>
<h2> Last Name: {{ client.lastName}} </h2>
<h2> Age: {{client.age}} </h2>
<h2> Professional Background: {{client.professionalBackground}} </h2>
<h2> Salary: {{client.salary}}  </h2>
</ion-item>
</ion-list>
</ion-content>
